<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="fileUtil" class="org.rabbit.spring.demos.impl.FileUtil" />
	<bean id="currencyFormatter" class="org.rabbit.spring.demos.impl.CurrencyFormatter"/>

	<bean id="fileService" class="org.rabbit.spring.demos.impl.FileService">
		<constructor-arg ref="fileUtil" />
		<constructor-arg type="int" value="7500000" />
		<constructor-arg type="int" value="7500001" />
		<constructor-arg type="java.lang.String" value="42" />
		
		<property name="myCurrencyFormatter">
			<ref local="currencyFormatter"/>
		</property>
	</bean>
	
	
</beans>